:root {
    --main-color-light: #ffffff;
    --main-color-dark: #2e2f42;
    --hover-focus: #404bbf;
    --logo-button-color: #4d5ae5;
}

.header {
    color: var(--main-color-light);
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: var(--main-color-light);
   line-height: 1.5; 
}

a {
    text-decoration: none;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}


p, h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}

.header-container.container {
    display: flex;
    height: 72px;
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-list {
    display: flex;
    align-items: center;
}

.logo-link{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-button-color);
}

.span-studio {
    color: var(--main-color-dark);
}

.nav-list {
    display: flex;
    gap: 40px;
    margin-left: 76px;
}

.nav-link-studio {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hover-focus);
    padding: 24px 0 28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 48px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio:hover {
    color: var(--hover-focus);
}

.nav-link-studio:focus {
    color: var(--hover-focus);
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color-dark);
    padding: 24px 0 24px;
}

.nav-link:hover {
    color: var(--hover-focus);
}

.nav-link:focus {
    color: var(--hover-focus);
}

.address-header {
    font-style: normal;
}

.site-contacts {
    display: flex;
    gap: 40px;
    margin-top: 25.5px;
    margin-left: 332px;
    line-height: 1.5;
}

.tel-mail {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.tel-mail:hover {
color: var(--hover-focus);
}

.tel-mail:focus {
    color: var(--hover-focus);
}

.section-main {
    background-color: var(--main-color-dark);
    background-image: url(/images/bg-section-one.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/bg-section-one.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    flex-shrink: 0;
    max-width: 1440px;
    margin: 0 auto;
}

.main-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color-light);
    max-width: 496px;
    flex-shrink: 0;
}

.button-primary{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-color-light);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--logo-button-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 48px auto 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover{
    background-color: #404BBF;
}

.button-primary:focus{
    background-color: #404BBF;
}

.section-goals {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.goals-list {
    display: flex;
    gap: 24px;
    margin-top: 0;
}

.goals-list-item {
    width: calc((100% - 72px) / 4);
}

.container-goals-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.goals-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color-dark);
    margin-bottom: 8px;
}

.developers-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color-dark);
    margin-bottom: 8px;
    text-align: center;
}

.about-developers{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding-bottom: 8px;
}

.list-social-net {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-item-social-net {
    width: 40px;
    height: 40px;
}

.list-social-net-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-net-icon:hover {
    background-color: #404bbf;
}

.list-social-net-icon:focus {
    background-color: #404bbf;
}

.social-net-icon {
    fill: #f4f4fd;
}

.section-team{
    background-color: #f4f4fd;
    padding: 120px 0;
}

.our-team{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color-dark);
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    gap: 24px;
}

.team-developers{
    background-color: var(--main-color-light);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.developers-container {
    padding: 32px 0;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-portfolio {
text-align: center;
font-size: 36px;
font-weight: 700;
color: var(--main-color-dark);
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.list-portfolio {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.list-item-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-portfolio:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.change-image {
    position: relative;
    overflow: hidden;
}

.change-text-portfolio {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-portfolio:hover .change-text-portfolio {
transform: translateY(0%);
}

.list-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project_card{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color-dark);
    margin-bottom: 8px;
}

.text_project_card {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text_project_card:hover {
    transform: translateY(0%);
}

.footer{
    background-color: var(--main-color-dark);
    padding: 100px 0;
}

.container-footer {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: baseline;
}

.container-logo {
margin-right: 120px;
}

.logo-link-footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-button-color);
    display: inline-block;
    margin-bottom: 16px;
    
}

.span-footer{
    color: #f4f4fd;
}

.text-footer{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin: 0;
}

.text-social_media {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: var(--main-color-light);
    margin-bottom: 16px;
}

.list-social-net-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.list-social-net-icon-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-social-net-icon-footer:hover {
    background-color: #31d0aa;
}

.list-social-net-icon-footer:focus {
    background-color: #31d0aa;
}